{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container text-center m-2">
    <h1>Retrouvez les paires </h1>
    <div class="scoreboard">
        <div class="timer"></div>
        <div class="scoring">
            <p class="score-title">Score</p>
    </div>
        </div>
        <div id="cards"></div>
    </div>
    {% block javascripts %}
     {# <script src="{{ asset('../../public/js/main.js') }}></script> #}
    
            {{ encore_entry_script_tags('main') }}
    {% endblock %}
    
       
{% endblock %}
