body {
   width: 100%;
    height: 100%;
    background-image: url(../memory/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.scoreboard {
    height: 200px;
    width: 370px;
    border-radius: 10px;
    background: black;
    margin: 0 0 5px;
    cursor: pointer;
}

.scoreboard .timer {
    margin: 0;
    text-align: center;
    font-size: 70px;
    color: red;
    font-family: 'Premier2019';

}

.scoreboard .scoring {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.scoreboard .score-title {
    margin: auto 30px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Premier2019';
}

.scoreboard .score-element {
    margin: auto 55px;
    display: inline-block;
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: 'Premier2019';
}